  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
:root {
    --core-pink: #C340A1;
    --core-periwinkle: #6A6DCD;
    --core-red: #D93535;
    --core-blue: #307FE2;
    --core-mint: #00A88B;
}
* {
    box-sizing: border-box;
}
body {
    width: 1440px;
    height: 1024px;
    margin: 0px;
    background: #343D4B;;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 1013px;
    height: 666px;
    display: flex;
    align-items: center;
}
.card_left {
    position: absolute;
    width: 493px;
    height: 666px;
    flex-shrink: 0;
    border-radius: 30px;
    padding: 48px 32px;
    background-color: #000000;
    background: url("bg_image.png"), linear-gradient(152deg, rgba(136, 235, 239, 1) -0.04%,rgba(83, 91, 230, 1)100%);
    
}
.top_text {
    display: grid;
    grid-template-rows: [start] 44px [line2] 36px [line3] 28px [end];
    gap: 10px;
}
.day {
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.date {
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
}
.location {
    display: grid;
    grid-template-columns: max-content auto;
    grid-gap: 8px;
    align-items:center;
    font-weight: 600;
    font-size: 20px;
    line-height: normal;
}

.card_right {
    position: absolute;
    width: 944px;
    height: 623px;
    flex-shrink: 0;
    padding: 55px 50px;
    border-radius: 25px;
    background: #222831;
}