@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url(style/card__left.css);
@import url(style/card__right.css);
:root {
    --core-pink: #C340A1;
    --core-periwinkle: #6A6DCD;
    --core-red: #D93535;
    --core-blue: #307FE2;
    --core-mint: #00A88B;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    width: 1440px;
    height: 1024px;
    margin: 0px;
    background: #343D4B;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 493px 1fr;
    grid-template-rows: 666px;
}