.card-right__wind {
    display: grid;
    margin-bottom: 79px;
    grid-template-rows: 35px 35px 35px;
    grid-template-columns: max-content 1fr;
    gap: 16px;
    font-size: 28px;
    font-style: normal;
    line-height: normal;
}
.card-right__wind-left-column {
    font-weight: 700;
}
.card-right__wind-right-column {
    text-align: right;
    font-weight: 500;
}
@media screen and (max-width:1000px) {
.card-right__wind {
    grid-template-rows: max-content max-content max-content;
    font-size: 1em;
}
}